<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 20px;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Student Registered</h2>
        <p>Your registration was successful.</p>
        <form action="/" method="get">
            <button type="submit">Back to Login</button>
        </form>
    </div>
</body>
</html>
